# Created by .ignore support plugin (hsz.mobi)
# 不能用//node_modules/*
electron/*/*
!electron/src/*
electron/src/node_modules/*
.idea
.vscode
electron/src/temp/*
electron/npm-debug.log
electron/npm-debug.log.*
docker/nginx/conf/vhost/*
docker/nginx/conf/vhost/www.baidu.dev.conf
/electron/src/config/nodeStorageJson.json
