<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<div id="body" :style="{fontFamily}">
    <window-header></window-header>
    <!--<h1 id="msg">Hello wwww!</h1>-->
    <router-view name="app"></router-view>
</div>

<!--<script src="./src/appMain.js"></script>-->
<!--<script src="./src/temp/appMain.js"></script>-->


</body>
</html>